.gemini/
.logs/
.yolo-lock
/.claude
/.claude/
/.cursorignore
/.dark-factory.daemon.out
/.dark-factory.lock
/.dark-factory.log
/.idea
/.mcp-*
/.mcp-auth
/.mcp.json
/.serena
/.update-logs/
/bin/
/cover.out
/coverage.html
/coverage.out
/data
/github-releaser
/github-releaser-agent
/prompts/log
/prompts/in-progress/*.lock
/run-task
/specs/log
/specs/in-progress/*.lock
/vault-cli
/vendor
/vendor/
gha-creds-*.json
